binary-clock==0.0.2
capstone==3.0.5.post1
certifi==2018.11.29
chardet==3.0.4
distorm3==3.3.4
graphviz==0.10.1
idna==2.8
octopus==0.3.4
pkg-resources==0.0.0
py-dis==0.3
pymsasid==0.3.1
r2pipe==1.2.0
requests==2.21.0
unpyclib==0.8.1
urllib3==1.24.1
wasm==1.1
z3-solver==4.8.0.0.post1
zydis==0.0.1
